<%= image_tag 'logo.svg', id: 'logo' %>
<%= image_tag 'headline.svg', id: 'headline' %>
<p>
  You&rsquo;ve successfully deployed your first application with Skyliner!
  You can use this as a template for future application deploys.
  Once you&rsquo;re finished with this tutorial, we recommend deleting
  the <code>hello-skyliner</code> application so you&rsquo;re not charged by Amazon.
</p>

<p id="prompt">
  Ready to launch your own application?
</p>

<div>
  <a href="https://www.skyliner.io/dashboard">Ok, let&rsquo;s go</a>
</div>
